<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板语法</title>
    <script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
        {{ 30+20 }}
        {{ 10>20?'aaa':'bbb' }}
        {{ myname }}
        {{ myhtml }}
        <!-- 指令 -->
        <div v-html="myhtml"></div>
        <div v-show="isShow">动态显示或隐藏</div>
        <div v-if="isCreated">动态的创建和删除</div>
        <a v-bind:href="url">百度</a>
        <a :href="url">百度</a>
        <img v-bind:src="imgUrl">
        <button v-on:click="showSomeThing">点我！</button>
        <button @click="showSomeThing">点我2！</button>
        <!--v-for循环普通数组-->
        <p v-for="(item,i) in list">--索引值--{{i}}   --每一项--{{item}}</p>
        <br/>
        <!--v-for循环对象数组-->
        <p v-for="(user,i) in listObj">--id--{{user.id}}   --姓名--{{user.name}}</p>
        <br/>
        <!--注意，在遍历对象的键值对的时候，除了有 val 和 key,在第三个位置还有一个索引-->
        <p v-for="(val,key) in user">--键是--{{key}}  --值是--{{val}}</p>
        <br/>
        <!-- in 后面我们放过数组、对象数组、对象，还可以放数字-->
        <!-- 注意：如果使用v-for迭代数字的话，前面 count 的值从 1 开始-->
        <p v-for="count in 10">这是第{{count}}次循环</p>
    </div>

<script>
    new Vue({
        el:"#box",
        data:{
            myname:"shanpf",
            myhtml:"<b>11111</b>",
            isShow:true,
            isCreated:true,
            url:"https://www.baidu.com",// 必须加https:// 不然不加你试试？
            imgUrl:"resources/godlike.jpg",
            list:[1,2,3,4,5,6],
            listObj:[
                {id:1, name:'zs1'},
                {id:2, name:'zs2'},
                {id:3, name:'zs3'},
                {id:4, name:'zs4'},
                {id:5, name:'zs5'},
                {id:6, name:'zs6'},
            ],
            user:{
                id:1,
                name:'托尼.贾',
                gender:'男'
            }
        },
        methods:{
            showSomeThing:function () {
                alert("show someThing");
            }
         }
    })
</script>
</body>
</html>